.rectangle-card .card .video {
  /* picture styling */
  width: 100%;
  height: 300px;
  object-fit: fill;
}

.preview-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.preview-block:hover {
  transform: scale(1.5);
  transition: transform 1.5s ease-in-out;
}

.description-box {
  pointer-events: none;
  height: auto;
  width: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 8px;
}
