.preview-block {
  position: relative;
  display: flex;
  height: 15rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
}

.preview-block:hover {
  transform: scale(1.5);
  transition: transform 1.5s ease-in-out;
}

.description-box {
  pointer-events: none;
  height: auto;
  width: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 8px;
}
