.card {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 1rem;
  border: 1px solid black;
  overflow: hidden;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 1rem;
}

.picture.hidden {
  display: none;
  transition: opacity 1.5s ease-in-out;
}
