/* .rectangle-card .card .picture {
  width: 100%;
  height: 300px;
  object-fit: fill;
}
.square-card .card .picture {
  width: 100%;
  height: 150px;
  object-fit: fill;
} */

.card,
.picture {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.picture.hidden {
  display: none;
  transition: opacity 1.5s ease-in-out;
}
