.navbar {
  display: flex;
  align-items: left;
}

.navbar img {
  width: 100%;
  height: 100%;
  object-fit: fill; /* this will scale the image to maintain aspect ratio while filling the container*/
}
