.home-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-body {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 85%;
}
